<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Processus Fiscaux</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a routerLink="taxes">Liste</a></li>
            <li><a routerLink="taxes/timeline">Timeline</a></li>
            <li><a routerLink="taxes/taxCounter">Processus fiscaux par année</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet class=".uk-align-center"></router-outlet>
